*{
    margin: 0;
    padding: 0;
}
.form1{
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: flex;
    border: 2px solid black;
    box-sizing: border-box;
    /* flex-direction: column; */
    justify-content: center;    
}
.ele{
    margin: 10px;
    border: 1px solid black;
}